<svg style="display:none;">
	<symbol id="logo-mini" viewBox="0 0 24 24">
		<path d="M12.5,23.5C6.159,23.5,1,18.341,1,12C1,5.659,6.159,0.5,12.5,0.5S24,5.659,24,12 C24,18.341,18.841,23.5,12.5,23.5z M12.5,1.5C6.71,1.5,2,6.21,2,12c0,5.79,4.71,10.5,10.5,10.5S23,17.79,23,12 C23,6.21,18.29,1.5,12.5,1.5z"/>
		<path d="M8.719,8.719c-0.173,0-0.342-0.09-0.435-0.252l-2.75-4.813C5.397,3.415,5.48,3.109,5.721,2.972 c0.236-0.136,0.544-0.056,0.683,0.186l2.75,4.813C9.29,8.21,9.207,8.516,8.967,8.653C8.889,8.698,8.804,8.719,8.719,8.719z"/>
		<path d="M16.281,8.719c-0.085,0-0.17-0.021-0.248-0.066c-0.24-0.137-0.323-0.442-0.187-0.682l2.75-4.813 c0.138-0.242,0.444-0.322,0.683-0.186c0.24,0.137,0.323,0.442,0.187,0.682l-2.75,4.813C16.623,8.628,16.454,8.719,16.281,8.719z"/>
		<path d="M5.969,21.094c-0.085,0-0.17-0.021-0.248-0.065c-0.24-0.138-0.323-0.443-0.187-0.683l2.75-4.813 c0.138-0.24,0.444-0.321,0.683-0.187c0.24,0.138,0.323,0.443,0.187,0.683l-2.75,4.813C6.311,21.003,6.142,21.094,5.969,21.094z"/>
		<path d="M19.031,21.094c-0.173,0-0.342-0.091-0.435-0.252l-2.75-4.813c-0.137-0.239-0.054-0.545,0.187-0.683 c0.236-0.135,0.544-0.054,0.683,0.187l2.75,4.813c0.137,0.239,0.054,0.545-0.187,0.683C19.201,21.072,19.116,21.094,19.031,21.094z" />
		<path d="M15.93,7.875H9.07c-2.278,0-4.133,1.847-4.133,4.125c0,2.273,1.851,4.125,4.133,4.125h6.859 c2.278,0,4.133-1.847,4.133-4.125C20.063,9.727,18.212,7.875,15.93,7.875z M15.93,15.125H9.07c-1.728,0-3.133-1.402-3.133-3.125 S7.343,8.875,9.07,8.875h6.859c1.728,0,3.133,1.402,3.133,3.125S17.657,15.125,15.93,15.125z"/>
	</symbol>
	<symbol id="icon-linkedin" viewBox="0 0 32 32">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M12.271,22.619H8.407v-9.905h3.864V22.619z M10.332,11.19h-0.022 c-1.167,0-1.922-0.9-1.922-1.891c0-1.013,0.778-1.837,1.968-1.837c1.191,0,1.923,0.852,1.946,1.864 C12.3,10.317,11.545,11.19,10.332,11.19z M19.226,15.762c-0.854,0-1.546,0.683-1.546,1.524v5.333h-3.863c0,0,0.046-9.143,0-9.905 h3.863v1.132c0,0,1.197-1.1,3.044-1.1c2.288,0,3.911,1.633,3.911,4.803v5.07h-3.863v-5.333 C20.771,16.444,20.079,15.762,19.226,15.762z M16,30c7.732,0,14-6.268,14-14S23.732,2,16,2C8.268,2,2,8.268,2,16S8.268,30,16,30z"/>
	</symbol>
	<symbol id="icon-www" viewBox="0 0 32 32">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M9.569,16.74H2.056c0.11,1.555,0.452,3.043,1.011,4.421h7.33 C9.954,19.679,9.675,18.202,9.569,16.74"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M15.73,3.489c-1.256,1.4-2.256,2.877-3.021,4.408h6.547 c-0.764-1.531-1.766-3.008-3.022-4.408H15.73z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M29.967,16.74h-7.572c-0.107,1.462-0.387,2.938-0.826,4.421h7.426 C29.547,19.782,29.879,18.294,29.967,16.74"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M10.997,16.74c0.116,1.458,0.428,2.935,0.912,4.421h8.146 c0.486-1.486,0.797-2.963,0.912-4.421H10.997z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M21.027,15.267c-0.01-2.023-0.387-3.996-1.121-5.895h-7.848 c-0.735,1.898-1.11,3.871-1.122,5.895H21.027z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M16.188,28.517c1.431-1.954,2.529-3.923,3.326-5.882h-7.065 c0.798,1.96,1.894,3.929,3.326,5.883L16.188,28.517z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M2.028,15.267h7.479c0.01-2.018,0.363-3.99,1.025-5.895H3.53 C2.619,11.133,2.094,13.132,2.028,15.267"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M21.43,9.371c0.662,1.905,1.016,3.878,1.025,5.896h7.518 c-0.105-2.123-0.672-4.124-1.629-5.896H21.43z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M21.08,22.636c-0.883,2.367-2.189,4.736-3.932,7.059l-0.194,0.258 c4.907-0.344,9.129-3.205,11.36-7.316H21.08z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M14.815,29.698c-1.742-2.323-3.05-4.694-3.934-7.063H3.763 c2.237,4.117,6.406,6.978,11.243,7.318L14.815,29.698z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M11.115,7.897c0.887-1.986,2.122-3.885,3.749-5.646l0.19-0.205 C10.558,2.333,6.749,4.556,4.427,7.897H11.115z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M17.1,2.253c1.627,1.761,2.863,3.659,3.75,5.646h6.568 c-2.375-3.332-6.172-5.573-10.506-5.851L17.1,2.253z"/>
	</symbol>
	<symbol id="icon-twitter" viewBox="0 0 32 32">
		<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M16,2C8.28,2,2,8.28,2,16s6.28,14,14,14c7.721,0,14-6.28,14-14 S23.721,2,16,2 M22.139,12.949c0.008,0.132,0.01,0.264,0.01,0.396c0,4.058-3.09,8.738-8.737,8.738c-1.734,0-3.349-0.51-4.708-1.382 c1.603,0.188,3.234-0.241,4.546-1.271c-1.344-0.025-2.477-0.913-2.868-2.134c0.462,0.088,0.937,0.071,1.386-0.052 c-1.405-0.281-2.463-1.522-2.463-3.009v-0.041c0.415,0.229,0.889,0.367,1.391,0.384c-0.823-0.551-1.366-1.49-1.366-2.555 c0-0.563,0.151-1.09,0.417-1.545c1.514,1.858,3.776,3.082,6.33,3.208c-0.053-0.224-0.081-0.46-0.081-0.698 c0-1.696,1.375-3.072,3.071-3.072c0.885,0,1.682,0.373,2.242,0.971c0.699-0.139,2.275-0.31,2.275-0.31 C23.172,11.195,22.74,12.515,22.139,12.949"/>
	</symbol>
</svg>
<div class="stage--front">
	<canvas
		id="webgl-canvas"
		class="webgl-canvas-normal"
		width="1400px"
		height="700px"
		oncontextmenu="return false;"
		data-autoplay="true"
		data-graph-url="http://vizor.io/data/graph/fthr/pt17.min.json"
		>
	</canvas>

	<div class="frontpage-text-center">
		<div class="content">
			<img src="images/vizor_logo.svg" id="logo">
			
			<h2 class="lead">
				Create and share VR content in your browser
			</h2>
			
			<a class="launch-button" href="/edit">Get Started</a>
		</div>
	</div>
</div>
<div class="about-team">
	<h3>The Team</h3>
	<div class="team-container">
		<div class="team-member">
			<div class="member-pic">
				<img src="/images/home/antti.jpg" title="View info" />
				<div class="pic-rollover">
					<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
				</div>
			</div>
			<a href="https://fi.linkedin.com/in/anttijadertpolm" target="_blank" alt="View info" class="person-name profile-link">Antti Jäderholm</a>
			<span class="person-position">CEO</span>
		</div>
		<div class="team-member">
			<div class="member-pic">
				<img src="/images/home/jaakko.jpg" title="View info" />
				<div class="pic-rollover">
					<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
				</div>
			</div>
			<a href="http://linkedin.com/in/kschzt" target="_blank" alt="View info" class="person-name profile-link">Jaakko Manninen</a>
			<span class="person-position">CTO</span>
		</div>
		<div class="team-member">
			<div class="member-pic">
				<img src="/images/home/kaarlo.jpg" title="View info" />
				<div class="pic-rollover">
					<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
				</div>
			</div>
			<a href="http://linkedin.com/in/kaarlo" target="_blank" alt="View info" class="person-name profile-link">Kaarlo Kananen</a>
			<span class="person-position">VP PRODUCT DEVELOPMENT</span>
		</div>
		<div class="team-member">
			<div class="member-pic">
				<img src="/images/home/wendell.jpg" title="View info" />
				<div class="pic-rollover">
					<svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
				</div>
			</div>
			<a href="http://twitter.com/Vizor_VR" target="_blank" alt="View info" class="person-name profile-link">Wendell Davis</a>
			<span class="person-position">CHIEF PRODUCT OFFICER</span>
		</div>
		<div class="team-member">
			<div class="member-pic">
				<img src="/images/home/matt.jpg" title="View info" />
				<div class="pic-rollover">
					<svg class="icon"><use xlink:href="#icon-www"></use></svg>
				</div>
			</div>
			<a href="http://www.idealogue.io/" target="_blank" alt="View info" class="person-name profile-link">MAtt Innes</a>
			<span class="person-position">CREATIVE DIRECTOR</span>
		</div>
		<div class="team-member">
			<div class="member-pic">
				<img src="/images/home/georgi.jpg" title="View info" />
				<div class="pic-rollover">
					<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
				</div>
			</div>
			<a href="http://linkedin.com/in/gmarinov" target="_blank" alt="View info" class="person-name profile-link">Georgi Marinov</a>
			<span class="person-position">FRONT END LEAD</span>
		</div>
	</div>
</div>

<footer class="footer">
	<a href="https://www.youtube.com/channel/UClYzX_mug6rxkCqlAKdDJFQ">YouTube Tutorials</a> <span class="links-separator">&middot;</span>
	<a href="https://twitter.com/Vizor_VR">Twitter</a> <span class="links-separator">&middot;</span>
	<a href="https://github.com/vizorvr/vizor-create">GitHub</a>
	<svg class="logo-mini"><use xlink:href="#logo-mini"></use></svg>
	<a href="mailto:info@vizor.io">E-mail us</a> <span class="links-separator">&middot;</span>
	<a href="https://docs.google.com/document/d/1L87rs9baSoR4PfOZ2cY9BFp3Pb43y8cFvS93k1HLk60/edit?usp=sharing">Attributions</a>
	<span class="links-separator">&middot;</span>
	<a href="https://docs.google.com/document/d/172dcWVz8bSEDxS_y2InXpqWhVvbM7w1Z9MSp1-Lw1rIc/edit?usp=sharing">Terms & Privacy</a>
</footer>

<script type="text/javascript" src="/scripts/homepage.js"></script>
